# The PIP requirements for daliuge - taken from setup.py
boto3
bottle
configobj
crc32c
dill
docker
lockfile
metis>=0.2a3
# 0.10.6 builds correctly with old (<=3.10) Linux kernels
netifaces>=0.10.6
networkx    # used for testing
paramiko
psutil
pyswarm
python-daemon
pyzmq
scp
twine
pyyaml
# 0.6 brings python3 support plus other fixeINFO:     Waiting for application startup.
INFO:     Application startup complete.
INFO:     Uvicorn running on http://0.0.0.0:8084 (Press CTRL+C to quit)
s
zerorpc >= 0.6
# For reproducibility
merklelib >= 1.0
gputil >= 1.4.0
