# The PIP requirements for daliuge - taken from setup.py
boto3
bottle
configobj
crc32c
dill
docker
lockfile
metis>=0.2a3
# 0.10.6 builds correctly with old (<=3.10) Linux kernels
netifaces>=0.10.6
networkx    # used for testing
paramiko
psutil
pyswarm
python-daemon
pyzmq
scp
twine
pyyaml
# 0.6 brings python3 support plus other fixes
zerorpc >= 0.6
