# Stuff left by python modules compilation/installation
*.pyc
build
dist
*.egg-info
.project
.pydevproject
.coverage
.cache
.settings
.pytest_cache
.vscode
daliuge-engine/dlg/runtime/version.py
daliuge-common/dlg/common/version.py
daliuge-translator/dlg/translator/version.py
daliuge-engine/test/apps/libdynlib_example.so
daliuge-engine/test/apps/dynlib_example.o
daliuge-engine/test/apps/libdynlib_example2.so
daliuge-engine/test/apps/dynlib_example2.o
.idea
daliuge.iml
*.cwl
*.xml
.DS_Store
