cwltool
gitpython
# cwltool's dependency breaks cwlgen's in python 2.7,
# so we explicitly need to install a version that works
# for both
# A similar situation happens with typing, with pip failing
# to automatically upgrade to >=3.7.4 when an installed
# "typing" module satisfies a previous, more relaxed
# constraint (e.g., >=3.5)
ruamel.yaml==0.16.0; python_version=='2.7'
typing>=3.7.4
