#dimContentWrapper{
    margin-top:100px;
}

#sessions{
    margin-bottom:30px;
}

#nodes{
    margin-bottom:30px;
}


#graphNameWrapper{
    position: absolute;
    top: 56px;
    display: block;
    width: 100%;
    height:auto;
    background-color: #002349;
    padding: 0px 16px;
    position: fixed;
    z-index: 101;
}

#graphNameWrapper li{
color: rgb(219, 219, 219);
display: inline-block;
}

#graphName{
margin: 0;
}

.navbar{
background: rgb(0,64,133);
background: linear-gradient(90deg, rgba(0,64,133,1) 0%, rgba(0,52,107,1) 20%, rgba(0,35,73,1) 100%);
margin-bottom:100px;
}

.navbar-brand span{
margin-left: 10px;
}

.navbar-nav.navbar-center {
position: absolute;
left: 50%;
transform: translatex(-50%);
}

.navbar-nav.navbar-center div {
margin-right:10px;
}

.navbar-nav button {
background-color: transparent;
border:1px white solid;
}

.navbar-nav .btn.btn-secondary.active{
background-color: white;
border:1px white solid;
color:rgba(0,35,73,1);
}

.navbar-nav .btn.btn-secondary:hover{
background-color: rgb(216, 216, 216);
border:1px rgb(216, 216, 216) solid;
color:rgba(0,35,73,1);
}

.btn.btn.btn-secondary{
    background-color: #0059a5;
}

.btn.btn.btn-secondary:hover{
    background-color: rgba(0,35,73,1);
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
 }


svg {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .node rect, .node polygon {
    stroke-width: 2.0px;
    stroke: #bbb;
  }
  
  /* DROP states */
  .node.initialized :first-child, rect.initialized {
    fill: #ffe;
  }
  
  .node.writing :first-child, rect.writing {
    fill: #ecde7b;
  }
  
  .node.completed :first-child, rect.completed {
    fill: #7bdc7b;
  }
  
  .node.expired :first-child, rect.expired {
    fill: #700000;
  }
  
  .node.cancelled :first-child, rect.cancelled {
    fill: #cccccc;
  }
  
  .node.deleted :first-child, rect.deleted {
    color: #700000;
  }
  
  /* AppDROP states */
  .node.not_run :first-child, rect.not_run {
    fill: #ffe;
  }
  
  .node.running :first-child, rect.running {
    fill: #ecde7b;
  }
  
  .node.finished :first-child, rect.finished {
    fill: #7bdc7b;
  }
  
  .node.error :first-child, rect.error {
    fill: #e44f33;
  }