services:

# =============================================================
#
#	 TRAEFIK - reverse proxy
#
# =============================================================

  traefik:
    image: traefik:v3.5.0
    container_name: traefik
    networks:
      - dlg-demo
    command:
      - "--log.level=DEBUG"
      - "--api=true"
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=true"
      - "--entrypoints.web.address=:80"
      - "--ping=true"
    environment:
      - DOMAIN=localhost
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.tls.domains[0].main=*.localhost"
      - "traefik.http.routers.api.rule=Host(`traefik.localhost`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
      - "traefik.http.routers.api.service=dashboard@internal"
      - "traefik.http.routers.api.service=api@internal"
    ports:
      - 80:80
      - 8080:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock  # So that Traefik can listen to the Docker events
    restart: always


# =============================================================
#
#	 DIM
#
# =============================================================

  dlg-dim:
    build:
      context: .
      dockerfile: Dockerfile.full
    image: icrar/dlg_full:latest
    user: ${MY_UID}:${MY_GID}
    container_name: dlg-dim
    hostname: dlg-dim.localhost
    command: ["dlg", "dim", "-H", "0.0.0.0", "-N", "dlg-nm1.localhost,dlg-nm2.localhost"]
    networks:
      - dlg-demo
    labels:
      - "traefik.http.routers.dim.rule=Host(`dlg-dim.localhost`)"
      - "traefik.http.services.dim.loadbalancer.server.port=8001"
    volumes:
      - ~/dlg:/dlg
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro


# =============================================================
#
#	 NM1
#
# =============================================================

  dlg-nm1:
    image: icrar/dlg_full:latest
    container_name: dlg-nm1
    hostname: dlg-nm1.localhost
    user: ${MY_UID}:${MY_GID}
    command: ["dlg", "nm", "-H", "0.0.0.0", "-vv"]
    networks:
      - dlg-demo
    labels:
      - "traefik.http.routers.nm1.rule=Host(`dlg-nm1.localhost`)"
      - "traefik.http.services.nm1.loadbalancer.server.port=8000"
    volumes:
      - ~/dlg:/dlg
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro

# =============================================================
#
#	 NM2
#
# =============================================================

  dlg-nm2:
    image: icrar/dlg_full:latest
    container_name: dlg-nm2
    hostname: dlg-nm2.localhost
    user: ${MY_UID}:${MY_GID}
    command: ["dlg", "nm", "-H", "0.0.0.0", "-vv"]
    networks:
      - dlg-demo
    labels:
      - "traefik.http.routers.nm2.rule=Host(`dlg-nm2.localhost`)"
      - "traefik.http.services.nm2.loadbalancer.server.port=8000"
    volumes:
      - ~/dlg:/dlg
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro

# =============================================================
#
#	 Translator
#
# =============================================================

  dlg-tm:
    image: icrar/dlg_full:latest
    container_name: dlg-tm
    hostname: dlg-tm.localhost
    user: ${MY_UID}:${MY_GID}
    command: ["dlg", "daemon", "--tm"]
    networks:
      - dlg-demo
    labels:
      - "traefik.http.routers.tm.rule=Host(`dlg-tm.localhost`)"
      - "traefik.http.services.tm.loadbalancer.server.port=8084"
    volumes:
      - ~/dlg:/dlg
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro

networks:
  dlg-demo:

