name: Build documentation

on:
  push:
    branches:
      - master  #  Only run on pushes to master
  pull_request:
    types: [opened, synchronize, reopened]  # Run on PRs from any branch to any target


jobs:

  build_docs:
    name: Build RTD documentation
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: '3.10'

      - name: Install documentation dependencies
        run: |
          pip install -r docs/requirements.txt

      - name: Build documentation
        run: |
          READTHEDOCS=True make -C docs html SPHINXOPTS="-W --keep-going"
