name: Build documentation

on: [push, pull_request]

jobs:

  build_docs:
    name: Build RTD documentation
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: '3.9'

      - name: Install documentation dependencies
        run: |
          pip install -r docs/requirements.txt

      - name: Build documentation
        run: |
          READTHEDOCS=True make -C docs html SPHINXOPTS="-W --keep-going"
