@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(fonts/MaterialIcons-Regular.woff) format('woff'),
    url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.navbar{
  background: rgb(0,64,133);
  background: linear-gradient(90deg, rgba(0,64,133,1) 0%, rgba(0,52,107,1) 20%, rgba(0,35,73,1) 100%);
}

.navbar-brand span{
  margin-left: 10px;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}


.navbar-nav button {
  background-color: transparent;
  border:1px white solid;
  box-shadow: none !important;
}

.navbar-nav .btn.btn-secondary.active{
  background-color: white;
  border:1px white solid;
  color:rgba(0,35,73,1);
  box-shadow: none !important;
}

.navbar-nav .btn.btn-secondary:hover{
  background-color: rgb(216, 216, 216);
  border:1px rgb(216, 216, 216) solid;
  color:rgba(0,35,73,1);
  box-shadow: none !important;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
 }

.tooltip {
  position: relative;
  display: inline-block;
  font-size: 16px;
  opacity: 100%;
  z-index: auto;
}

.tooltipRight:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  font-size: 14px;

  /* vertically center */
  top:50%;
  transform:translateY(-50%);

  /* move to left */
  left:100%;
  margin-left:15px; /* and add a small right margin */

  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:rgba(0,0,0,0.94);
  color: #fff;
  text-align:center;
  z-index: 1000 !important;

  visibility:hidden;
  transition: 0s visibility;
}

.tooltipRight:hover:before {
  visibility: visible;
  transition-delay: 1s;
}

.tooltipRight:after {
  content: "";
  position:absolute;

  /* position tooltip correctly */
  left:100%;
  margin-left:-4px;

  /* vertically center */
  top:50%;
  transform:translateY(-50%);

  /* the arrow */
  border:10px solid rgba(0,0,0,0.94);
  border-color: transparent rgba(0,0,0,0.94) transparent transparent;

  visibility:hidden;
  transition: 0s visibility;
  width: 20px;
  z-index: 100;
  height: 20px;
}

.tooltipRight:hover:before, .tooltipRight:hover:after {
  visibility: visible;
  transition-delay: 1s;

}

.tooltipTop:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  font-size: 14px;

  /* center */
  Left:50%;
  transform:translateX(-50%);

  /* move to top */
  bottom:100%;
  margin-bottom:15px; /* and add a small bottom margin */

  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:rgba(0,0,0,0.94);
  color: #fff;
  text-align:center;
  z-index: 1000 !important;

  visibility:hidden;
  transition: 0s visibility;
}

.tooltipTop:hover:before {
  visibility: visible;
  transition-delay: 1s;
}

.tooltipTop:after {
  content: "";
  position:absolute;

  /* position tooltip correctly */
  bottom:100%;
  margin-bottom:-4px;

  /* vertically center */
  left: 50%;
  bottom:100%;
  transform:translateX(-50%);

  /* the arrow */
  border:10px solid rgba(0,0,0,0.94);
  border-color: rgba(0,0,0,0.94) transparent transparent transparent;

  visibility:hidden;
  transition: 0s visibility;
  width: 20px;
  z-index: 100;
  height: 20px;
}

.tooltipTop:hover:before, .tooltipTop:hover:after {
  visibility: visible;
  transition-delay: 1s;
}

.tooltipLeft:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  font-size: 14px;

  /* vertically center */
  top:50%;
  transform:translateY(-50%);

  /* move to left */
  right:100%;
  margin-right:15px; /* and add a small right margin */

  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:rgba(0,0,0,0.94);
  color: #fff;
  text-align:center;
  z-index: 1000 !important;

  visibility:hidden;
  transition: 0s visibility;
}

.tooltipLeft:hover:before {
  visibility: visible;
  transition-delay: 1s;
}

.tooltipLeft:after {
  content: "";
  position:absolute;

  /* position tooltip correctly */
  right:100%;
  margin-right:-4px;

  /* vertically center */
  top:50%;
  transform:translateY(-50%);

  /* the arrow */
  border:10px solid rgba(0,0,0,0.94);
  border-color: transparent transparent transparent rgba(0,0,0,0.94);

  visibility:hidden;
  transition: 0s visibility;
  width: 20px;
  z-index: 100;
  height: 20px;
}

.tooltipLeft:hover:before, .tooltipLeft:hover:after {
  visibility: visible;
  transition-delay: 1s;
}

.tooltipBottom:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  font-size: 14px;

  /* center */
  Left:50%;
  transform:translateX(-50%);

  /* move to bottom */
  top:100%;
  margin-top:11px; /* and add a small top margin */

  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:rgba(0,0,0,0.94);
  color: #fff;
  text-align:center;
  z-index: 1000 !important;

  visibility:hidden;
  transition: 0s visibility;
}

.tooltipBottom:hover:before {
  visibility: visible;
  transition-delay: 1s;
}

.tooltipBottom:after {
  content: "";
  position:absolute;

  /* position tooltip correctly */
  top:100%;
  margin-top:-8px;

  /* vertically center */
  left: 50%;
  top:100%;
  transform:translateX(-50%);

  /* the arrow */
  border:10px solid rgba(0,0,0,0.94);
  border-color: transparent transparent rgba(0,0,0,0.94) transparent;

  visibility:hidden;
  transition: 0s visibility;
  width: 20px;
  z-index: 100;
  height: 20px;
}

.tooltipBottom:hover:before, .tooltipBottom:hover:after {
  visibility: visible;
  transition-delay: 1s;
}

.tooltipBottomLeft:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  font-size: 14px;

  /* center */
  Left:50%;
  transform:translateX(-90%);

  /* move to bottom */
  top:100%;
  margin-top:11px; /* and add a small top margin */

  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:rgba(0,0,0,0.94);
  color: #fff;
  text-align:center;
  z-index: 1000 !important;

  visibility:hidden;
  transition: 0s visibility;
}

.tooltipBottomLeft:hover:before {
  visibility: visible;
  transition-delay: 1s;
}

.tooltipBottomLeft:after {
  content: "";
  position:absolute;

  /* position tooltip correctly */
  top:100%;
  margin-top:-8px;

  /* vertically center */
  left: 50%;
  top:100%;
  transform:translateX(-50%);

  /* the arrow */
  border:10px solid rgba(0,0,0,0.94);
  border-color: transparent transparent rgba(0,0,0,0.94) transparent;

  visibility:hidden;
  transition: 0s visibility;
  width: 20px;
  z-index: 100;
  height: 20px;
}

.tooltipBottomLeft:hover:before, .tooltipBottomLeft:hover:after {
  visibility: visible;
  transition-delay: 1s;
}


.node rect, .node polygon {
  stroke-width: 2.0px;
  stroke: #bbb;
  height:60px;
  padding: 4px 8px;
}

/* DROP states */

#main #dagGraphArea .node :first-child, #main #dagGraphArea rect {
  fill: #9ab4d0;
  stroke: black;
}

#main #dagGraphArea .node span{
  display: block;
  height: min-content !important;
}

#main #dagGraphArea .node .drop-label :first-child{
  font-weight: 700;
}

.node g div {
  color: #000;
  padding: 4px 28px 4px 28px;
  overflow: hidden;
}

#main #dagGraphArea .drop-label.rect{
  padding: 4px 0px 4px 0px;
}

#main #dagGraphArea .drop-label.parallelogram{
  padding: 4px 28px 4px 28px;
}

#main #dagGraphArea path.path {
  stroke: #999;
  stroke-width: 1.5px;
}

.node.initialized :first-child, rect.initialized {
  fill: #ffe;
}

.node.writing :first-child, rect.writing {
  fill: #ecde7b;
}

.node.completed :first-child, rect.completed {
  fill: #7bdc7b;
}

.node.expired :first-child, rect.expired {
  fill: #700000;
}

.node.cancelled :first-child, rect.cancelled {
  fill: #cccccc;
}

.node.skipped :first-child, rect.skipped {
  fill: #53c4f6;
}

.node.deleted :first-child, rect.deleted {
  color: #700000;
}

/* AppDROP states */
.node.not_run :first-child, rect.not_run {
  fill: #ffe;
}

.node.running :first-child, rect.running {
  fill: #ecde7b;
}

.node.finished :first-child, rect.finished {
  fill: #7bdc7b;
}

.node.error :first-child, rect.error {
  fill: #e44f33;
}

#main #dagGraphArea{
  width:auto;
  height:auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left:0px;
  right:0px;
}

#smallD3Graph{
  width:100%;
  height:100%;
}

#graphNameWrapper{
  position: absolute;
  top: 56px;
  display: block;
  width: 100%;
  background-color: #002349;
  padding: 0px 16px;
  position: fixed;
  z-index: 101;
}

#graphNameWrapper span{
  color: rgb(219, 219, 219);
}

#runinfoWrapper{
  bottom:0px;
  display: block;
  width: 100%;
  background-color: #a7a7a7;
  border-top:solid 1px black;
  padding: 0px 16px;
  position: fixed;
  z-index: 101;
}

#main{
  width:auto;
  height:auto;
  position: absolute;
  top: 80px;
  bottom: 25px;
  left:0px;
  right:0px;
}

#graph{
  width:100%;
  height:100%;
}

#sankey{
  width:100%;
  height:100%;
}

.dropdown-menu{
  border:solid 1px #000c1a;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  background-color: #0059a5;
}

.dropdown-item{
  color: white;
}

.dropdown-item:hover{
  background-color: #001d3b;
  color: white;
}

.nav-link{
  color:white;
}


#deployDropdowns{
  padding: 0.35rem 1rem;
}

#deploy_button span{
  font-size: 16px;
  font-weight: 600;
}

#deploy_button #currentDeploymentType{
  font-size: 14px;
  font-weight: 400;
}

#deployDropdowns button:focus{
  color: #001d3b;
  background-color: white !important;
  border-color: white;
}

#deployDropdowns button:active{
  color: #001d3b;
  background-color: white !important;
  border-color: white;
}

#deployDropdowns button :hover{
  color: #001d3b;
  background-color: rgb(216, 216, 216);
  border-color: rgb(216, 216, 216);
}

#deployDropdowns a:not(.dropdown-menu a){
  border: 1px white solid;
  border-radius: 0.2rem;
  box-shadow: none !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 2px 5px;
}

#deployDropdowns a:hover:not(.dropdown-menu a) {
  background-color: rgb(216, 216, 216);
  color: #001d3b;
}

#deployDropdowns a:active:not(.dropdown-menu a) {
  background-color: white;
  color: #001d3b;
}

#exportJsonBtn{
  display: inline-block;
}

#exportJsonIcon{
  position: absolute;
  right:2px;
}

.dropDropDown{
  visibility: hidden;
  background-color: #0059a5;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border:solid 1px #000c1a;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: auto;
  height:auto;
  font-size: 12px;
  top: 0px;
  transform: translateX(-110%);
}

.dropDropDownParent:hover .dropDropDown {
  visibility: visible;
}

.dropDropDown .dropdown-item{
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
}

#navbarExportDropdown{
  color:white;
}

#deployDropdowns .activeDeployMethodButtonOnline{
  border-left: 6px solid green !important;
}

#deployDropdowns .activeDeployMethodButtonOffline{
  border-left: 6px solid red !important;
}

#settingsModal .settingsInputTooltip{
  display: flex;
  padding: 0px;
}

#settingsModal .urlInputField{
  border-right:none;
}

#settingsModal .urlStatusIcon{
  width: 30px;
  color: black;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-width:1px 0px 1px 0px;
}

#settingsModal .urlStatusReachable{
  background-color: rgb(113, 190, 71);
}

#settingsModal .urlStatusNotReachable{
  background-color: rgb(190, 79, 71);
}

#settingsModal .urlStatusUnknown{
  background-color: rgb(109, 109, 109);
}

#settingsModal .urlStatusIcon i{
  position: absolute;
  margin-top: 60%;
  margin-left: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
}

#settingsModal .settingsInputTooltip input, #settingsModal .settingsInputTooltip select{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

#settingsModal .modal-header{
  background: rgb(0,64,133);
  background: linear-gradient(90deg, rgba(0,64,133,1) 0%, rgba(0,52,107,1) 20%, rgba(0,35,73,1) 100%);
}

#settingsModal .modal-header h5,#settingsModal .modal-header span,#settingsModal .modal-header button{
  color:white;
}

#settingsModal .modal-body{
  background-color:#001d3b;
  padding: 50px 16px;
  overflow: unset;
}

#settingsModal #neccessaryHiddenItems, #settingsModal form{
  display: none;
}

#settingsModal .modal-dialog{
  width: 50vw;  
  max-width: none;
}

#SettingsModal #DeployMethodManagerTitle{
  color: white;
  margin-bottom: 5px;
}

#settingsModal #DeployMethodManager .input-group{
  margin-bottom: 10px;
}

#settingsModal #DeployMethodManager button{
  background-color: white;
  color: #002349;
  border: 0px;
  border-radius: 0px 3px 3px 0px ;
  padding: 5px;
}

#settingsModal #DeployMethodManager button:hover{
  color: #305278;
}

#settingsModal #DeployMethodManager button i{
  pointer-events: none;
}

#settingsModal #DeployMethodManager input{
  padding: 0px 12px;
}

#settingsModal #DeployMethodManager select{
  padding: 0px 12px;
}

#settingsModal #addDeployMethodBtn{ 
  margin-top: 10px;
  padding: 5px 10px;
}

#settingsModal .deployMethodActive{
  display: none;
}

#settingsModal #settingsModalErrorMessage{
  color: red;
}

#settingsModal .modal-body span{
  color: white;
  display: block;
}

#settingsModal .modal-footer{
  background-color:#001d3b;
}

#settingsModal .modal-footer .btn-primary{
  background-color: #0059a5;
  border:solid 1px white;
}

#aboutModal .modal-header img{
  height: 30px;
}

#aboutModal .modal-header h5{
  position: absolute;
  left: 60px;
}

.modal-header a{
  opacity: 100% !important;
}

#aboutModal .modal-body span{
  font-weight: 600;
}

.aboutDivider{
  display: block;
  border-bottom: solid 1px black;
}

#oriantationDropdown .orientationOptionContainer a{
  display: inline-block;
  color: white;
}

.orientationOptionContainer {
  display: block;
}

#oriantationDropdown{
  padding: 2px 10px;
}

#settingsModal .modal-body .urlStatusUnknownIcon{
  color: black;
  font-size: 24;
  margin-left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

#warning-alert{
  position: absolute;
  z-index: 100;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

::-webkit-scrollbar-thumb {
  margin-top: 4px;
  background: rgb(212, 212, 212);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar {
  width: 5px;
}

.modal-body {
  background-color: aliceblue;
  max-height: 70vh;
  overflow-y: scroll;
}


.modal-header {
  background-color: #002e5f;
  color: white !important;
}
.modal-footer {
  background-color: aliceblue;
}
.modal-footer .btn-primary {
  background-color: #002e5f;
  border-color: #002e5f;
}

#shortcutsModal .modal-dialog{
  transform:none!important;
}

#shortcutsModal .modal-content{
  width: 1000px;
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
}

.shortCutsModalItem{
  padding: 10px 20px;
  background-color: rgb(216, 221, 240);
  border: solid 1px #001225;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

.shortCutsModalItem span{
  font-weight: 400;
}

.shortCutsModalItem .shortCutsModalItemRight{
  font-weight: 700;
  position: absolute;
  right: 20px;
}